SA_PASSWORD=your_password_here
DB_CONNECTION_PRODUCT=Server=sqlserver,1433;Database=ProductDb;User Id=sa;Password=your_password_here;TrustServerCertificate=True
DB_CONNECTION_ORDER=Server=sqlserver,1433;Database=OrderDb;User Id=sa;Password=your_password_here;TrustServerCertificate=True
DB_CONNECTION_INVENTORY=Server=sqlserver,1433;Database=InventoryDb;User Id=sa;Password=your_password_here;TrustServerCertificate=True
DB_CONNECTION_PRICING=Server=sqlserver,1433;Database=PricingDb;User Id=sa;Password=your_password_here;TrustServerCertificate=True
DB_CONNECTION_CUSTOMER=Server=sqlserver,1433;Database=CustomerDb;User Id=sa;Password=your_password_here;TrustServerCertificate=True
DB_CONNECTION_NOTIFICATION=Server=sqlserver,1433;Database=NotificationDb;User Id=sa;Password=your_password_here;TrustServerCertificate=True